<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="com.atlassian.jira.logging">
    <Properties>
        <Property name="StackTraceFilteringPattern">
            ^(?!(com\.example\.wmpr|com\.atlassian)).*$
        </Property>
    </Properties>

    <Appenders>
        <JiraHomeAppender name="filelog"
                      fileName="atlassian-jira.log"
                      filePattern="atlassian-jira.log.%i">
            <PatternLayout alwaysWriteExceptions="false">
                <Pattern>%d{HH:mm:ss.SSS} [%t] %highlight{%-5level} %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="20480 KB"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="min" max="10"/>
        </JiraHomeAppender>
    </Appenders>

    <Loggers>
        <!-- Configure WMPR plugin logging -->
        <Logger name="com.example.wmpr" level="DEBUG" additivity="false">
            <AppenderRef ref="filelog"/>
        </Logger>

        <!-- Root logger -->
        <Root level="WARN">
            <AppenderRef ref="filelog"/>
        </Root>
    </Loggers>
</Configuration> 